.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.845);
  color: white;
  height: 5rem;
}
